name: Build Linux Artifacts

on:
  workflow_dispatch:
    inputs:
      tags:
        description: "Version tags"

jobs:
  build:
    runs-on: "ubuntu-latest"
    container:
      image: blueskyxi3/yao-build:0.10.4

    steps:

      - name: Build
        run: |
          export PATH=$PATH:/github/home/go/bin
          cat /app/build.sh
          chmod +x /app/build.sh
          /app/build.sh
          ls -l /data

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: yao-linux
          path: |
            /data/*

